dcgan/data
data
*.pyc
OpenNMT/data
cpp/mnist/build
cpp/dcgan/build
dcgan/*.png
dcgan/*.pth
snli/.data
snli/.vector_cache
snli/results
word_language_model/model.pt
fast_neural_style/saved_models
fast_neural_style/saved_models.zip
gcn/cora/
docs/build
docs/venv

# vi backups
*~

# development
.vscode
**/.DS_Store
*__pycache__*

# development
check_compatibility.log
imagenet/checkpoint.pth.tar
imagenet/model_best.pth.tar
imagenet/sample/
super_resolution/dataset/
super_resolution/model_epoch_1.pth
time_sequence_prediction/traindata.pt
vision_transformer/best-weights.pt
vision_transformer/dataset/
.hydra/
coco-dataset/


# files
*.pt
*.pth
*.png
*.jpg
*.jpeg
*.gif
*.zip
*.log




